.public-section {
  margin-top: -240px;
  font-family: Arial, Helvetica, sans-serif;
  .select-header {
    color: #fff;
    position: relative;
    margin: 20px 0 18px 0;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .login-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    .select-option {
      cursor: pointer;
      background: #fff;
      border-radius: 9px;
      .select-view-section {
        font-size: 14px;
        .select-view-content {
          position: relative;
          z-index: 4;
          background-color: #fff;
          margin-bottom: 20px;
          color: #807e7e;
          padding: 20px;
          min-height: 500px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          p {
            line-height: 20px;
          }
          .login-choices {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 50px;
            .select-option {
              cursor: pointer;
              background: #fff;
              border-radius: 9px;
              border: 1px solid #faab35;
              border-top: 6px solid #faab35;
              box-shadow: 0 2px 5px rgba(49, 49, 49, 0.25);
              min-height: 385px;
              padding: 0 11px;
              position: relative;
              text-align: center;
              display: flex;
              flex-direction: column;
              transition: all 0.2s ease 0s;
              img {
                margin: 12px auto;
                transition: all 0.2s ease 0s;
                width: 100%;
              }
              h3 {
                color: #0378a9;
                font-size: 15px;
                font-weight: bold;
                margin: 0 0 10px;
                z-index: 10;
              }
              h5 {
                color: #3f3f3f;
                font-size: 20px;
                z-index: 10;
                line-height: normal;
                margin: 0;
                font-weight: bold;
              }
              .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: block;
                visibility: visible;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.14902);
                left: 0;
                z-index: 2;
                transition: all 0.2s ease 0s;
              }
              &.select-player {
                margin-right: 15px;
              }
              &:hover {
                background: #fff none repeat scroll 0 0;
                border: 1px solid rgba(0, 129, 199, 0.8);
                border-top: 5px solid rgba(0, 129, 199, 0.8);
                box-shadow: 0 2px 5px rgba(27, 27, 27, 0.4);
                .overlay {
                  background-color: rgba(0, 129, 199, 0.8);
                }
                img {
                  transform: scale(1.07);
                }
                h3,
                h5 {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      border: 1px solid #faab35;
      border-top: 6px solid #faab35;
      box-shadow: 0 2px 5px rgba(49, 49, 49, 0.25);
      min-height: 385px;
      justify-content: center;
      padding: 0 11px;
      position: relative;
      text-align: center;
      display: flex;
      padding-bottom: 30px;
      margin-bottom: 30px;
      flex-direction: column;
      transition: all 0.2s ease 0s;
      img {
        margin: 12px auto;
        transition: all 0.2s ease 0s;
        width: 100%;
      }
      h3 {
        color: #0378a9;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 10px;
        z-index: 10;
      }
      h5 {
        color: #3f3f3f;
        font-size: 20px;
        z-index: 10;
        line-height: normal;
        margin: 0;
        font-weight: bold;
      }
      .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        visibility: visible;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.14902);
        left: 0;
        z-index: 2;
        transition: all 0.2s ease 0s;
      }
      &.select-player {
        margin-right: 15px;
      }
      &:hover {
        background: #fff none repeat scroll 0 0;
        border: 1px solid rgba(0, 129, 199, 0.8);
        border-top: 5px solid rgba(0, 129, 199, 0.8);
        box-shadow: 0 2px 5px rgba(27, 27, 27, 0.4);
        .overlay {
          background-color: rgba(0, 129, 199, 0.8);
        }
        img {
          transform: scale(1.07);
        }
        h3,
        h5 {
          color: #fff;
        }
      }
    }
  }
}

// iPhone plus portrait mode. width is 414px
@media only screen and (min-width: 25em) and (orientation: portrait) {
  .public-section {
    margin-top: 0px;
    .select-header {
      color: black;
    }
    .login-choices {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

// mobile landscape where width is at least than 640px
@media only screen and (min-width: 40em) and (orientation: landscape) {
  .public-section {
    margin-top: 0px;
    .select-header {
      color: black;
    }
    .login-choices {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

// iPhone Plus landscape where width is between than 640px and 736px
@media only screen and (min-width: 42em) and (max-width: 46em) and (orientation: landscape) {
  .public-section {
    .login-choices {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

// tablet(iPad) portrait where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: portrait) {
  .public-section {
    margin-top: -240px;
     .select-header {
      color: #fff;
    }
    .login-choices {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

// tablet(iPad) landscape where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: landscape) {
  .public-section {
    margin-top: -240px;
    .select-header {
      color: #fff;
    }
    .login-choices {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

// iPhone X landscape where width is between 768px than 812px
@media only screen and (min-width: 49em) and (max-width: 50.75em) and (orientation: landscape) {
  .public-section {
    .login-choices {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .select-option {
      display: flex;
      flex-direction: row;
    }
  }
}

// large desktop landscape where width is at least than 1200px
@media only screen and (min-width: 75em) and (orientation: landscape) {
  // these styles are inherited from the tablet landscape media query, only changes affecting very large desktops go here
  .public-section {
    margin-top: -240px;
    .select-header {
      color: #fff;
    }
    .login-choices {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .select-option {
      display: flex;
      flex-direction: row;
    }
  }
}
