<section class="public-section">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="select-header col-xs-12 col-sm-12 col-md-12 col-lg-12">What best describes how you use Team Sports Admin?</h1>
            <div class="login-choices col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a class="select-player select-option">
                    <div class="overlay"></div>
                    <img src="./../../images/one.jpg">
                    <h3>PLAYER/GUARDIAN</h3>
                    <h5>I'm registering a player for an event</h5>
                </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a class="select-player select-option">
                    <div class="overlay"></div>
                    <img src="./../../images/two.jpg">
                    <h3>I'M A COACH OR MANAGER</h3>
                    <h5>I'm a coach or manager of an organization</h5>
                </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a class="select-player select-option">
                    <div class="overlay"></div>
                    <img src="./../../images/three.jpg">
                    <h3>TOURNAMENT REGISTRATION</h3>
                    <h5>I'm registering a team for a tournament</h5>
                </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a class="select-player select-option">
                    <div class="overlay"></div>
                    <img src="./../../images/four.jpg">
                    <h3>ORGANIZATION ADMIN</h3>
                    <h5>I run an organization</h5>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>