<app-header></app-header>
<section class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 players">
    <a href="/support-page" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcrumb ">Support home</a>
    <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">Players/Guardians</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 catogery">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list">
          <a class="list-title">My Profile</a>
          <a>
            <span class="item-count">(19)</span>
          </a>
          <ul class="items">
            <span class="image"></span>
            <a>As a Player/Guardian, how do I update my email address on file?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I merge my multiple accounts?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I add or update my child's profile picture?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I delete my account?</a>
          </ul>
          <ul class="items">
            <a>As a player/guardian, how do I reset my login password?</a>
          </ul>
          <ul>
            <a class="see-all">See all 19 articles</a>
          </ul>
        </div>
        <div class="list">
          <a class="list-title">DocuSign™</a>
          <a>
            <span class="item-count">(1)</span>
          </a>
          <ul class="items">
            <a class="items">As a Player/Guardian, how do I view documents I previously signed?</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list">
          <a class="list-title">Payments & Billing
          </a>
          <a>
            <span class="item-count">(9)</span>
          </a>
          <ul class="items">
            <a>As a Player/Guardian, how do I update my credit card information?</a>
          </ul>
          <ul class="items">
            <a>How long does it take to process a refund?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I cancel or put a recurring payment on hold?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how can I get a copy of a receipt?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I make my first team payment?</a>
          </ul>
          <ul>
            <a class="see-all">See all 19 articles</a>
          </ul>
        </div>
        <div class="list">
          <a class="list-title">Teams</a>
          <a>
            <span class="item-count">(4)</span>
          </a>
          <ul class="items">
            <a>As a Player/Guardian, how do I register for an event?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how can I see who is on my team this season?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I know which events I am registered for?</a>
          </ul>
          <ul class="items">
            <a>As a Player/Guardian, how do I find my coach's contact information?</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>