// Mobile First, styles to target mobile portrait mode. Width less than 375px;

.players {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 550px;
  font-family: Arial, Helvetica, sans-serif;
  .breadcrumb {
    text-decoration: none;
    color: rgba(4, 156, 219, 0.5);
  }
  .breadcrumb:hover {
    color: #3f3f3f;
  }
  h1 {
    color: #fd6d08;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    margin-bottom: 2px;
    margin: 10px 0px;
  }
  .catogery {
    line-height: 28px;
    display: flex;
    flex-direction: row;
    .list {
      margin-bottom: 20px;
      .list-title {
        cursor: pointer;
        text-decoration: none;
        font-size: 24px;
        margin-right: 5px;
      }
      .list-title:hover {
        text-decoration: underline;
      }
      .item-count {
        cursor: pointer;
        font-size: 24px;
        color: #b3b3b3;
      }
      .image{
        background-image: url(/assets/cdn-ignored/sprites/portal/icon-s507c4b1df6.png);
        background-position: 0px -178px;
      }
      .items {
        font-size: 14px;
        cursor: pointer;
        color: #049cdb;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .items:hover {
        color: #036690;
        text-decoration: underline;
      }
      .see-all {
        font-size: 14px;
        cursor: pointer;
        color: rgba(4,156,219,0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .see-all:hover {
        color: #036690;
        text-decoration: underline;
      }
    }
  }
}

// iPhone plus portrait mode. width is 414px
@media only screen and (min-width: 25em) and (orientation: portrait) {
  .players {
    .header {
      font-size: 22px;
    }
    .catogery {
      display: flex;
      flex-direction: column;
      .list {
        .list-title {
          cursor: pointer;
          font-size: 18px;
        }
        .item-count {
          cursor: pointer;
          font-size: 18px;
        }
        .items {
          font-size: 14px;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

// mobile landscape where width is at least than 640px
@media only screen and (min-width: 40em) and (orientation: landscape) {
}

// iPhone Plus landscape where width is between than 640px and 736px
@media only screen and (min-width: 42em) and (max-width: 46em) and (orientation: landscape) {
  .players {
    .catogery {
      .list {
        .list-title {
          cursor: pointer;
          font-size: 20px;
        }
        .item-count {
          cursor: pointer;
          font-size: 20px;
        }
        .items {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

// tablet(iPad) portrait where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: portrait) {
  .players {
    .catogery {
      display: flex;
      flex-direction: row;
      .items {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// tablet(iPad) landscape where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: landscape) {
  .players {
    .catogery {
      .items {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// iPhone X landscape where width is between 768px than 812px
@media only screen and (min-width: 49em) and (max-width: 50.75em) and (orientation: landscape) {
  .players {
    .catogery {
      .items {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// large desktop landscape where width is at least than 1200px
@media only screen and (min-width: 75em) and (orientation: landscape) {
  // these styles are inherited from the tablet landscape media query, only changes affecting very large desktops go here
  .players {
    h1 {
      font-size: 34px;
    }
  }
}
