<app-header></app-header>
<section class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 players">
    <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcrumb ">Support home</a>
    <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">Tournaments</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 catogery">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list">
          <a class="list-title">My Account
            <span class="item-count">(1)</span>
          </a>
          <ul class="items">
            <a>As a Tournament Organization Admin, how do I reset my password?</a>
          </ul>
        </div>
        <div class="list">
          <a class="list-title">Tournaments
            <span class="item-count">(5)</span>
          </a>
          <ul class="items">
            <a class="items">As a Tournament Organization Admin, how do I add more teams to a tournament?</a>
          </ul>
          <ul class="items">
            <a class="items">As a Organization Admin, can I show the teams who registered for my tournaments publicly?</a>
          </ul>
          <ul class="items">
            <a class="items">As a Organization Admin, how do I password protect an event?</a>
          </ul>
          <ul class="items">
            <a class="items">As a Organization Admin, how do I limit the number of teams allowed to register for a tournament?</a>
          </ul>
          <ul class="items">
            <a class="items">As a Tournament Organization Admin, how do I edit an existing team's information?</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list">
          <a class="list-title">Payments & Billing
            <span class="item-count">(4)</span>
          </a>
          <ul class="items">
            <a>As a Tournament Team, how can I receive a receipt?</a>
          </ul>
          <ul class="items">
            <a>As a Tournament Team, how can I update my credit card on file?</a>
          </ul>
          <ul class="items">
            <a>As a Tournament Team, how do I receive a refund for an event?</a>
          </ul>
          <ul class="items">
            <a>As a Tournament Organization, how do I update my billing information?</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>