<app-header></app-header>
<section class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 players">
    <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcrumb ">Support home</a>
    <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">Coaches/Managers</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 catogery">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list">
          <a class="list-title">My Account
            <span class="item-count">(6)</span>
          </a>
          <ul class="items">
            <a>As a Coach, how do I update my login information?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I switch user types within my account?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I register my child for an event?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I reset my password?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I edit the contact information in my profile?</a>
          </ul>
          <ul class="items">
            <a>See all 6 articles</a>
          </ul>
        </div>
        <div class="list">
          <a class="list-title">Eamil
            <span class="item-count">(4)</span>
          </a>
          <ul class="items">
            <a>As a Coach, how do I send an email to my team?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, can I resend an email to an entire team?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, can I resend emails to those who have not yet opened a recently sent email?</a>
          </ul>
          <ul class="items">
            <a>What is a bounced email?</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list">
          <a class="list-title">Teams
            <span class="item-count">(4)</span>
          </a>
          <ul class="items">
            <a>As a Coach, how do I add notes to a player's account?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I view previous notes added to a player's account?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I view who is on my team?</a>
          </ul>
          <ul class="items">
            <a>As a Coach, how do I edit account information for players on my teams?</a>
          </ul>
        </div>
        <div class="list">
          <a class="list-title">Calendar
            <span class="item-count">(2)</span>
          </a>
          <ul class="items">
            <a>As a Coach, how do I edit a recurring calendar event?</a>
          </ul>
          <ul class="items">
            <a>How do I edit a specific day event on the calendar?</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>