<app-header></app-header>
<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
  <form [formGroup]="supportForm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title">
      <h2>
        Submit Your Question/Comment
      </h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-fields">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 field-name">
          <label for="subject">Email</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <input class="field-input" type="text" required placeholder="Email" formControlName="email">
          <div *ngIf="supportForm['controls'].email.errors" class="invalid">
            <div *ngIf="supportForm['controls'].email.hasError('email')">
              Please enter a valid email.
            </div>
            <div *ngIf="!supportForm['controls'].email.hasError('email')">
              <div *ngIf="hasError('email')">
                This field is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 field-name">
          <label for="subject"> Phone Number</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <input class="field-input" type="text" required formControlName="phoneNumber">
          <div *ngIf="supportForm['controls'].phoneNumber.hasError('pattern')" class="invalid">
            Please enter a valid phone number.</div>
          <div *ngIf="!supportForm['controls'].phoneNumber.hasError('pattern')">
            <div *ngIf="hasError('phoneNumber')" class="invalid">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 field-name">
          <label for="subject"> Organisation</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <input class="field-input" type="text" required formControlName="organisation">
          <div *ngIf="hasError('organisation')" class="invalid">
            This field is required.
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 field-name">
          <label for="subject">Subject</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <input class="field-input" type="text" required formControlName="subject">
          <div *ngIf="hasError('subject')" class="invalid">
            This field is required.
          </div>
        </div>
      </div>
      <div class="hidden_upload">
        <div class="add-attachment">
          <span>+</span> Attach a file</div>
        <input type="file" max_size="20">
      </div>
      <div>
        <button (click)="onSubmit()"  class="btn-submit">Submit</button>
      </div>
    </div>
  </form>
</section>
<app-footer></app-footer>