.header {
  position: relative;
  height: 475px;
  background: #0099cc none repeat scroll 0 0;
  // display: flex;
  // flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  .title {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 0px 22px;
  }
  h5 {
    margin-top: 5px;
  }
  .header-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #faab35;
    margin: 10px;
    .text {
      color: #fff;
    }
  }
  .heading-section {
    display: flex;
    align-self: center;
    flex-direction: column;
    .heading {
      color: #fff;
      line-height: 30px;
      text-align: center;
      font-size: 27px;
    }

    .search {
      width: 67%;
      padding-left: 10px;
      align-self: center;
      display: flex;
      height: 55px;
      border: 0;
      border-radius: 6px;
      font-size: 21px;
      font-style: italic;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    // .search-icon {

    // }
  }
}

// iPhone plus portrait mode. width is 414px
@media only screen and (min-width: 25em) and (orientation: portrait) {
  .header {
    height: 330px;
    .title {
      display: flex;
      flex-direction: column;
      margin: 15px 0px 0px 0px;
      .logo {
        align-self: center;
        display: flex;
      }
      h5 {
        font-size: 21px;
        line-height: normal;
        margin: 7px 0px 13px 0px;
      }
      .header-title {
        font-size: 21px;
        line-height: normal;
        margin: 7px 0px 13px 30px;
        .text {
          color: #fff;
        }
      }
    }
    .heading-section {
      .heading {
        font-size: 18px;
        line-height: 23px;
        margin: 0px 0px 12px 0px;
      }
    }
  }
}

// mobile landscape where width is at least than 640px
@media only screen and (min-width: 40em) and (orientation: landscape) {
}

// iPhone Plus landscape where width is between than 640px and 736px
@media only screen and (min-width: 42em) and (max-width: 46em) and (orientation: landscape) {
  .header {
    height: 330px;
    .title {
      justify-content: center;
      h5 {
        font-size: 24px;
        line-height: normal;
        margin: 7px 0px 13px 0px;
      }
      .header-title {
        .text {
          color: #fff;
        }
      }
    }
    .heading-section {
      .heading {
        margin-top: 30px;
        font-size: 23px;
        line-height: 28px;
        font-weight: 600;
      }
    }
  }
}

// tablet(iPad) portrait where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: portrait) {
  .header {
    height: 475px;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .heading {
      color: #fff;
      line-height: 30px;
      text-align: center;
      font-size: 27px;
      font-weight: 600;
      margin: 40px 0px 12px 0px;
    }
  }
}

// tablet(iPad) landscape where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: landscape) {
  .header {
    .heading {
      color: #fff;
      line-height: 30px;
      text-align: center;
      font-size: 27px;
      font-weight: 600;
      margin: 40px 0px 12px 0px;
    }
  }
}

// iPhone X landscape where width is between 768px than 812px
@media only screen and (min-width: 49em) and (max-width: 50.75em) and (orientation: landscape) {
  .header {
    .title {
      justify-content: center;
      h5 {
        font-size: 24px;
        line-height: normal;
        margin: 7px 0px 13px 0px;
      }
      .header-title {
        .text {
          color: #fff;
        }
      }
    }
    .heading-section {
      .heading {
        margin-top: 30px;
        font-size: 27px;
        line-height: 28px;
        font-weight: 600;
      }
    }
  }
}

// large desktop landscape where width is at least than 1200px
@media only screen and (min-width: 75em) and (orientation: landscape) {
  // these styles are inherited from the tablet landscape media query, only changes affecting very large desktops go here
  .header {
    .heading {
      color: #fff;
      line-height: 30px;
      text-align: center;
      font-size: 27px;
      font-weight: 600;
      margin: 40px 0px 12px 0px;
    }
  }
}
