<div class="header">
  <div class="title">
    <!-- <img class="logo" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/16000012510/logo/thumbnail.png"> -->
    <h5 class="header-title">Team Sports Admin
      <span class="text">Support Center</span>
    </h5>
  </div>
  <h5 class="heading">Discover ways to use Team Sports Admin like never before. Go ahead, ask us anything.</h5>
  <input placeholder="Enter your search term here..." type="text" class="search">
</div>