<section class="row">
  <div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="title">
      <img class="logo" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/16000012510/logo/thumbnail.png">
      <h5 class="header-title">Team Sports Admin
        <span class="text">Support Center</span>
      </h5>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
        <div class="heading-section">
          <h4 class="heading">Discover ways to use Team Sports Admin like never before. Go ahead, ask us anything.</h4>
          <!-- <div class="wrapper"> -->
            <input placeholder="Enter your search term here..." type="text" class="search">
            <!-- <button>
              <img class="search-icon" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/16007610570/original/JT8czS0qw4tUo3Ni-Cr6JeVE_dgMFy8Krw.png">
            </button> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>