<app-header></app-header>
<section class="row form">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title">
    <h2>
      Submit Your Question/Comment
    </h2>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-fields">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 required field-name">
        <label for="email">Email</label>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-3 col-xs-12">
        <input type="text" name="email" class="field-input" required placeholder="Email">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 required field-name">
        <label for="phone-number">Phone Number</label>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-3 col-xs-12">
        <input class="field-input" type="text">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 required field-name">
        <label for="organization">Organization</label>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-3 col-xs-12">
        <input class="field-input" type="text">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 required field-name">
        <label for="subject">Subject</label>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <input class="field-input" type="text">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 required field-name">
        <label for="question-comment">Question/Comment</label>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
        <input class="field-input" type="text">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>