.footer{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: black;
    .footer-content{
        color: white;
    }
}
// iPhone plus portrait mode. width is 414px
@media only screen and (min-width: 25em) and (orientation: portrait) {
    
}

// mobile landscape where width is at least than 640px
@media only screen and (min-width: 40em) and (orientation: landscape) {
    
}

// iPhone Plus landscape where width is between than 640px and 736px
@media only screen and (min-width: 42em) and (max-width: 46em) and (orientation: landscape) {
    
}

// tablet(iPad) portrait where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: portrait) {
    
}

// tablet(iPad) landscape where width is at least than 768px
@media only screen and (min-width: 48em) and (orientation: landscape) {
    
}

// iPhone X landscape where width is between 768px than 812px
@media only screen and (min-width: 49em) and (max-width: 50.75em) and (orientation: landscape) {
    
}

// large desktop landscape where width is at least than 1200px
@media only screen and (min-width: 75em) and (orientation: landscape) {
    // these styles are inherited from the tablet landscape media query, only changes affecting very large desktops go here
}