<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-content">
            <div class="privacy-policy">
                <img class="logo" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/16000012510/logo/thumbnail.png">
                <ul class="privacy-text">
                    <a class="privacy-policy">Privacy Policy </a><span class="separator">|</span>
                    <a class="terms-of-service"> Terms of Service</a>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright © 2018. Team Sports Admin, LLC. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>